<aside class="sidebar">
  <div class="brand">
    <div class="logo">BO</div>
    <div class="brand-text">
      <h2>BarOps Admin</h2>
      <p>Events • Staff • Inventory</p>
    </div>
  </div>

  <nav class="nav-links">
    <a routerLink="/dashboard" routerLinkActive="active">
      <span class="material-icons">dashboard</span>
      <span>Dashboard</span>
    </a>

    <a routerLink="/reservations/calendar" routerLinkActive="active">
      <span class="material-icons">event</span>
      <span>Reservations</span>
    </a>

    <a routerLink="/clients" routerLinkActive="active">
      <span class="material-icons">groups</span>
      <span>Clients</span>
    </a>

    <a routerLink="/bartenders" routerLinkActive="active">
      <span class="material-icons">local_bar</span>
      <span>Bartenders</span>
    </a>

    <a routerLink="/bar-types" routerLinkActive="active">
      <span class="material-icons">view_module</span>
      <span>Bar Types</span>
    </a>

    <a routerLink="/inventory" routerLinkActive="active">
      <span class="material-icons">inventory_2</span>
      <span>Inventory</span>
    </a>

    <a routerLink="/suppliers" routerLinkActive="active">
      <span class="material-icons">local_shipping</span>
      <span>Suppliers</span>
    </a>

    <a routerLink="/reports" routerLinkActive="active">
      <span class="material-icons">bar_chart</span>
      <span>Reports</span>
    </a>
    <a routerLink="/packages" routerLinkActive="active">
      <span class="material-icons">inventory</span>
      <span>Packages</span>
    </a>

    <a routerLink="/drink-themes" routerLinkActive="active">
      <span class="material-icons">emoji_food_beverage</span>
      <span>Drink Themes</span>
    </a>

    <a routerLink="/drinks" routerLinkActive="active">
      <span class="material-icons">local_drink</span>
      <span>Drinks</span>
    </a>

  </nav>
</aside>